<div class="section-about">
  <div
    class="background-image"
    data-aos="zoom-in-down"
    data-aos-duration="1000"
  >
    <img
      data-aos="zoom-in-left"
      data-aos-duration="1000"
      width="500px"
      height="550px"
      src="../../../assets/eyesImg.jpeg"
      alt=""
    />
  </div>
  <div class="info-about">
    <h1 data-aos="zoom-in-up" data-aos-duration="1000">
      Sobre a Julia Artesanatos
    </h1>
    <p data-aos="zoom-in-up" data-aos-duration="1000">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan
      justo nec nunc scelerisque, ac pulvinar sapien rutrum. Sed cursus
      fringilla felis ut ultricies. Donec et nulla mi. Sed auctor fringilla
      lacus, eu lacinia dolor fringilla non. Fusce in eleifend elit, a cursus
      tellus. Pellentesque habitant morbi tristique senectus et netus et
      malesuada fames ac turpis egestas. Integer malesuada sem a odio pretium,
      id lacinia enim tristique. Maecenas ac leo sit amet orci lacinia tempor.
    </p>
    <br />
    <p data-aos="zoom-in-up" data-aos-duration="1000">
      Nulla facilisi. Integer sit amet dui velit. Suspendisse in lectus at arcu
      finibus convallis. Phasellus malesuada congue dui, eu suscipit turpis
      lacinia ac. Nam sed malesuada lectus, sed viverra quam. Sed id semper mi,
      in tempor sem. Nullam dignissim lacinia nulla, nec lacinia metus consequat
      non. Nulla consequat ante in arcu facilisis faucibus. Praesent facilisis,
      lorem ut ultricies hendrerit, sem ex pharetra turpis, vel gravida sapien
      est nec orci.
    </p>
  </div>
</div>
